* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121212;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #1b1b1b;
  position: sticky;
  top: 0;
  z-index: 10;
}

#logo{
    text-decoration: none;
    color: #00e5ff;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  transition: 0.3s;
}

nav a:hover {
  color: #00e5ff;
}

header button {
  background: #00e5ff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background: #00b8d4;
}

/* Hero */

.explore-btn:hover {
  background-color: white;
}

.games {
  padding: 60px;
  text-align: center;
}

.games h2 {
  margin-bottom: 40px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  position: relative;
  z-index: 1;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0;
}

.card p {
  margin: 8px 0;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #00e5ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
