* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #1b1b1b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

#logo {
    text-decoration: none;
    color: #00e5ff;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #00e5ff;
}

/* Registration Box */
.register-box {
    background: #252525;
    width: 400px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.register-box input,
.register-box select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.register-box button {
    width: 100%;
    padding: 12px;
    background: #00e5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-box button:hover {
    transform: scale(1.03);
}